.config/yazi/plugins
.config/yazi/plugins/**
.config/yazi/flavors
.config/yazi/flavors/**

*.zwc
*.zwc.old
.zcompcache
.zcompdump*
.zsh_history
.zsh_sessions

*.log

{{- if eq .osRelease.id "ubuntu" }}
.config/niri
.config/niri/**
{{- endif -}}