[submodule "vim/bundle/fugitive"]
  path = vim/bundle/fugitive
  url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
	ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
	ignore = dirty
[submodule "vim/bundle/sessionman"]
	path = vim/bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
	ignore = dirty
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = https://github.com/tsaleh/vim-align
	ignore = dirty
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = https://github.com/vim-scripts/Gist.vim.git
	ignore = dirty
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
	ignore = dirty
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "vim/bundle/phpcomplete"]
	path = vim/bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
	ignore = dirty
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/vim-scripts/EasyMotion.git
	ignore = dirty
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "vim/bundle/aftercolors"]
	path = vim/bundle/aftercolors
	url = https://github.com/vim-scripts/AfterColors.vim.git
	ignore = dirty
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
