{{- $email := promptStringOnce . "email" "Git email" -}}
{{- $purpose := promptStringOnce . "purpose" "Machine purpose (personal/work)" -}}
{{- $org := "" -}}
{{- if eq $purpose "work" -}}
{{-   $org := promptStringOnce . "org" "Organization name" -}}
{{- end -}}

encryption = "age"
[age]
  identity = {{ joinPath .chezmoi.homeDir ".private/age/chezmoi.key.txt" | quote }}
  recipient = {{ joinPath .chezmoi.homeDir ".private/age/chezmoi.recipient.txt" | include | trim | quote }}

[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/home/.install-prerequisites.sh"

[diff]
  command = "difft"
  args = [
    "--color", "always",
    "--display", "side-by-side-show-both",
    "--skip-unchanged",
  ]
  pager = "bat"

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}"
  ]

[data]
  email        = "{{ $email }}"
  purpose      = "{{ $purpose }}"
  org          = "{{ $org }}"
  xdgCacheDir  = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir   = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir  = "{{ .chezmoi.homeDir }}/.local/state"
  lang         = "{{ ternary "fr_FR.UTF-8" "en_US.UTF-8" (eq $purpose "personal") }}"

[data.directories]
  cargoHome = "{{ .xdgDataDir }}/mise-cargo"
  fonts     = "{{ .xdgDataDir }}/fonts"

