{{- $email := promptStringOnce . "email" "Git email" -}}
{{- $purpose := promptStringOnce . "purpose" "Machine purpose (personal/work)" -}}

encryption = "age"

[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/home/.install-prerequisites.sh"

[diff]
  command = "difft"
  args = [
    "--color", "always",
    "--display", "side-by-side-show-both",
    "--skip-unchanged",
  ]
  pager = "bat"

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}"
  ]

[data]
  email        = "{{ $email }}"
  purpose      = "{{ $purpose }}"
  xdgCacheDir  = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir   = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir  = "{{ .chezmoi.homeDir }}/.local/state"

[data.directories]
  cargoHome = "{{ .xdgDataDir }}/mise-cargo"
  fonts     = "{{ .xdgDataDir }}/fonts"