{{- $email := promptStringOnce . "email" "Git email" -}}
{{- $purpose := promptStringOnce . "purpose" "Machine purpose (personal/work)" -}}

# [diff]
#   command = "difft"
#   args = [
#     "--color", "always",
#     "--skip-unchanged"
#   ]
#   pager = "cat"

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}"
  ]

[data]
  email        = "{{ $email }}"
  purpose      = "{{ $purpose }}"
  xdgCacheDir  = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir   = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir  = "{{ .chezmoi.homeDir }}/.local/state"

[data.directories]
  cargoHome = "{{ .xdgDataDir }}/mise-cargo"
  fonts     = "{{ .xdgDataDir }}/fonts"