# .zprofile - Path setup
#
# It's best practice to setup path in .zprofile
# source: https://mac.install.guide/terminal/zshrc-zprofile

#----------------------
# Clean-up my home directory
#----------------------

# XDG Base Directory Specification
typeset -x XDG_CACHE_HOME="$HOME/.cache"
typeset -x XDG_CONFIG_HOME="$HOME/.config"
typeset -x XDG_DATA_HOME="$HOME/.local/share"
typeset -x XDG_STATE_HOME="$HOME/.local/state"
typeset -x XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR:-"$TMPDIR"}

typeset -x GEM_SPEC_CACHE="$XDG_CACHE_HOME"/gem
typeset -x HISTFILE="$XDG_CACHE_HOME"/zsh/history
typeset -x LESSHISTFILE="$XDG_CACHE_HOME"/less/history
typeset -x NODE_REPL_HISTORY="$XDG_DATA_HOME"/node_repl_history
typeset -x NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
typeset -x RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME"/ripgrep/rc
typeset -x STARSHIP_CONFIG="$XDG_CONFIG_HOME"/starship/starship.toml
typeset -x TEALDEER_CONFIG_DIR="$XDG_CONFIG_HOME"/tealdeer
typeset -x ZSH_EVALCACHE_DIR="$XDG_CACHE_HOME"/zsh/evalcache
typeset -x _ZO_DATA_DIR="$XDG_DATA_HOME"/zoxide

#----------------------
# Path Configuration
#----------------------
typeset -U path fpath
path=(
  "$XDG_DATA_HOME"/bin(N)
  "$HOME"/.local/bin(N)
  $path
)

fpath=(
  "$XDG_DATA_HOME"/bin/functions(N)
  $fpath
)

# Ensure path arrays are unique and exported
typeset -x -U PATH path FPATH fpath MANPATH manpath
typeset -x -UT INFOPATH infopath

#----------------------
# System Configuration
#----------------------
# Locale settings
typeset -x LANG=${LANG:-{{ .lang }}} \
  LC_ALL=${LC_ALL:-{{ .lang }}} \
  LC_COLLATE={{ .lang }} \
  LC_CTYPE={{ .lang }} \
  LC_MESSAGES={{ .lang }} \
  LC_MONETARY={{ .lang }} \
  LC_NUMERIC={{ .lang }} \
  LC_TIME={{ .lang }} \
  LESSCHARSET=utf-8

# System utilities
typeset -x EDITOR=nvim \
  VISUAL=nvim \
  TERMINAL=kitty \
  PAGER=less \
  BROWSER='vivaldi' \
  GPG_TTY=$TTY \
  SHELL_SESSIONS_DISABLE=1 \
  LESSOPEN="|$HOME/.lesspipe %s" \
  MANPAGER="col -xbf | bat -p -l man"

typeset -x GREP_COLORS="mt=${GREP_COLOR}"

#----------------------
# fd
#----------------------
typeset -x FD_DEFAULT_OPTS="--hidden --no-require-git --one-file-system"

#----------------------
# fzf
#----------------------
if (( ${+commands[fzf]} )); then
  if [[ "$XDG_SESSION_TYPE" == "wayland" ]]; then
    _clipboard="wl-copy"
  else
    _clipboard="xsel --clipboard --input"
  fi

  _fzf_preview() {
    local -r preview_file='([[ -f {} ]] && (bat --style=numbers,header,grid --color=always {} || cat {}))'
    local -r preview_dir='([[ -d {} ]] && (tree -C {} | less))'
    local -r preview_fallback='echo {} 2>/dev/null | head -200'

    echo "${preview_file} || ${preview_dir} || ${preview_fallback}"
  }
  typeset -x FZF_PREVIEW="$(_fzf_preview)"

  _fzf_default_opts+=(
    "--border=top"
    "--color='gutter:-1'"
    "--cycle"
    "--height=80%"
    "--info=inline"
    "--layout=reverse"
    "--multi"
    "--no-separator"
    "--scroll-off=3"
    "--tabstop=2"
    "--marker=' '"
    "--pointer='󰅂'"
    "--prompt='  '"
    "--bind 'ctrl-p:toggle-preview'"
    "--bind 'ctrl-a:select-all'"
    "--bind 'ctrl-e:execute(${EDITOR} {+} >/dev/tty)'"
    "--bind 'ctrl-v:execute(code {+})'"
    "--bind 'ctrl-y:execute-silent(echo {+} | ${_clipboard})'"
    "--bind 'tab:toggle+down'"
    "--bind 'shift-tab:toggle+up'"
    "--bind backward-eof:abort"
  )
  typeset -x FZF_DEFAULT_COMMAND="fd ${FD_DEFAULT_OPTS} --follow --hidden --exclude .git --exclude node_modules"
  typeset -x FZF_DEFAULT_OPTS=$(printf '%s\n' "${_fzf_default_opts[@]}")

  typeset -x FZF_ALT_C_COMMAND="$FZF_DEFAULT_COMMAND --type d"

  typeset -x FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
  typeset -x FZF_CTRL_T_OPTS="$FZF_DEFAULT_COMMAND"

  typeset -x FZF_CTRL_R_OPTS='--prompt="History> " --preview="echo {}" --preview-window=down:3:wrap'
fi

#------------------
# zsh-users/zsh-autosuggestions
#------------------
typeset -g ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=30
typeset -g ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=240'
typeset -g ZSH_AUTOSUGGEST_MANUAL_REBIND=true
typeset -g ZSH_AUTOSUGGEST_STRATEGY=(history completion)

#------------------
# zsh-users/zsh-history-substring-search
#------------------
typeset -g HISTORY_SUBSTRING_SEARCH_ENSURE_UNIQUE=true
typeset -g HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND='fg=#00cc00,bold'
typeset -g HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_NOT_FOUND='fg=#FF5C57,bold'