(
    selected_tab: Rgb(245, 194, 231),
    command_fg: White,
    selection_bg: Rgb(87, 82, 104),
    cmdbar_extra_lines_bg: Rgb(87, 82, 104),
    disabled_fg: DarkGray,
    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: LightGreen,
    diff_file_removed: LightRed,
    diff_file_moved: LightMagenta,
    diff_file_modified: Yellow,
    commit_hash: Magenta,
    commit_time: LightCyan,
    commit_author: Green,
    danger_fg: Red,
    push_gauge_bg: Blue,
    push_gauge_fg: Reset,
)
